/* Flipping functionality modified from examples here:
http://forum.jquery.com/topic/jquery-flippy-plugin-reverse-issue
http://home.jejaju.com/play/flipCards/simple */
.flipper { position: relative;}
.transform .flipper>*{
	-webkit-transition: 1s ease-in-out;
	-moz-transition: 1s ease-in-out;
	transition: 1s ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flipper>* {
	position: absolute;
	width: 100%;
	overflow-y: auto;
	padding:0px 5px;
	height: 101%;
}

.no-transform .flipper>.back{ display:inline}
.no-transform .flipper>.front{ display:none}
.transform .flipper>.back
{
	-moz-transform: perspective(800px) rotateY(0);
	-webkit-transform: perspective(800px) rotateY(0);
	transform: perspective(800px) rotateY(0);
}
.transform .flipper>.front {
	-moz-transform: perspective(800px) rotateY(-180deg);
	-webkit-transform: perspective(800px) rotateY(-180deg);
	transform: perspective(800px) rotateY(-180deg);
}

.transform .flipper.flipped>.back {
	-moz-transform: perspective(800px) rotateY(180deg);
	-webkit-transform: perspective(800px) rotateY(180deg);
	transform: perspective(800px) rotateY(180deg);
}

.transform .flipper.flipped>.front {
	-moz-transform: perspective(800px) rotateY(0deg);
	-webkit-transform: perspective(800px) rotateY(0deg);
	transform: perspective(800px) rotateY(0deg);
}

.flipper.text>* {
	-webkit-transition: 1s .5s ease;
	-moz-transition: 1s .5s ease;
	transition: 1s .5s ease;
	color: white;
	background: black;
	border-radius:10px;
}
.card {
	display:block;
	position:relative;
	float:left;
	padding:0px;
	margin:2em;
	width:35em;
	height:30em;
	/* added overflow auto until I figure out how we want to size these cards */
 	/*overflow-y: scroll;*/
	background-position: top right;
        
	border-radius: 25px;
}
.card >div {
 	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 2em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-ms-border-radius: 2em;
	-o-border-radius: 2em;
	background-size: 100%;
}

.card .front {
	background-color: #FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}
.card .back {
	background-color: #FFF;
	border:1px solid brown;
	border-bottom:3px solid blue;
}

.event_card{
	display:none;
}

.chef_card{
	display:none;
}

.card_title {
	font-weight:bold;
	font-size:3em;
	margin-bottom: 0em;
	margin-top: 0em;
}